*.log
*.pyc
token
/cmake-build-debug/
/build*
/pyfastllm/build/
/pyfastllm/dist/
/.idea/
/.vscode/
/example/Win32Demo/bin/*.*
/example/Win32Demo/Win32
/example/Win32Demo/x64
/example/Win32Demo/*.filters
/example/Win32Demo/*.user
/example/Win32Demo/.vs
/example/Android/LLMAssistant/*.iml
/example/Android/LLMAssistant/.gradle
/example/Android/LLMAssistant/local.properties
/example/Android/LLMAssistant/.idea/caches
/example/Android/LLMAssistant/.idea/libraries
/example/Android/LLMAssistant/.idea/modules.xml
/example/Android/LLMAssistant/.idea/workspace.xml
/example/Android/LLMAssistant/.idea/navEditor.xml
/example/Android/LLMAssistant/.idea/assetWizardSettings.xml
/example/Android/LLMAssistant/.DS_Store
/example/Android/LLMAssistant/build
/example/Android/LLMAssistant/captures
/example/Android/LLMAssistant/.externalNativeBuild
/example/Android/LLMAssistant/.cxx
/example/Android/LLMAssistant/local.properties
/test/cmmlu/results/
/models/
/localtest/
/third_party/tfacc/driver/tfacc2/result