*.log
*.pyc
token
/cmake-build-debug/
/build*
/pyfastllm/build/
/pyfastllm/dist/
/.idea/
/.vscode/
/example/Win32Demo/bin/*.*
/example/Win32Demo/Win32
/example/Win32Demo/x64
/example/Win32Demo/*.filters
/example/Win32Demo/*.user
/example/Win32Demo/.vs
/example/Android/Fastllm/build/
/example/Android/Fastllm/*.apk
/example/Android/Fastllm/*.idsig
/example/Android_test/build/
/example/Android_test/*.apk
/example/Android_test/*.idsig
/test/cmmlu/results/
/models/
/localtest/
/third_party/tfacc/driver/tfacc2/result
/.chainlit
/.files
/src/devices/hip
/src/devices/multihip
/test/mmlu
*.o